@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  
}

.cont{
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: #f2f2f2;
}

.nav{
    height: 60px;
    width: 55vw;
    background: #fff;
    line-height: 60px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }
  .nav nav{
    position: relative;
    display: flex;
  }
  .nav nav label{
    flex: 1;
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }
  .nav nav label a{
    position: relative;
    z-index: -1;
    color: #1d1f20;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .nav nav #home:checked ~ label.home a,
  .nav nav #inbox:checked ~ label.inbox a,
  .nav nav #contact:checked ~ label.contact a,
  .nav nav #heart:checked ~ label.heart a,
  .nav nav #about:checked ~ label.about a{
    color: #fff;
  }
  .nav nav label a i{
    font-size: 25px;
    margin: 0 7px;
  }
  .nav nav .tab{
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .nav nav #inbox:checked ~ .tab{
    left: 40%;
  }
  .nav nav #contact:checked ~ .tab{
    left: 40%;
  }
  .nav nav #heart:checked ~ .tab{
    left: 60%;
  }
  .nav nav #about:checked ~ .tab{
    left: 80%;
  }
  .nav nav input{
    display: none;
  }
  .homes{
    margin-top: 35px;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    height: 350px;
    border-radius: 15px;
    
  }
  .Encabezado{

    display:flex;
    justify-content: center;
  }
  .Encabezado h2{
      
    margin-top: 25px;
    font-size: 35px;
    color: #fff;

  }

  .titulo1{
      margin-left: 20px;
      margin-top: 60px;
      width: 50%;
      height:100px;
      display: flex;
      align-items: center;
  }
  .titulo1 h2{
      color: #fff;
  }

  .buscador{

        
  }

  ::selection{
    color: #fff;
    background: #664AFF;
  }
  .search-box{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius:50px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box.active{
    width: 350px;
  }
  .search-box input{
      
    width: 100%;
    height: 100%;    
    border: none;
    border-radius: 50px;
    background: #fff;
    outline: none;
    padding: 0 60px 0 20px;
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box input.active{
    opacity: 1;
  }
  .search-box input::placeholder{
    color: #a6a6a6;
  }

  .search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color: #664AFF;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background: #664AFF;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
  }


  .search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .cancel-icon.active{
    right: -40px;
    transform: translateY(-50%) rotate(360deg);
  }

  .search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
  }   
  .search-box .search-data.active{
    display: none;
  }
  