@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.Koala{
    width: 100%;
    display: flex;
    justify-content: center;
 
}


.wrapper1 .card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
   
  }


.wrapper1{
  height: 60px;
  width: 55vw;
  background: #fff;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  
}

  .wrapper1 nav{
    position: relative;
    display: flex;
  }
  .wrapper1 nav label{
    flex: 1;
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }
  .wrapper1 nav label a{
    position: relative;
    z-index: -1;
    color: #1d1f20;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .wrapper1 nav #home:checked ~ label.home a,
  .wrapper1 nav #inbox:checked ~ label.inbox a,
  .wrapper1 nav #contact:checked ~ label.contact a,
  .wrapper1 nav #heart:checked ~ label.heart a,
  .wrapper1 nav #about:checked ~ label.about a{
    color: #fff;
  }
  .wrapper1 nav label a i{
    font-size: 25px;
    margin: 0 7px;
  }
  .wrapper1 nav .tab{
    position: absolute;
    height: 100%;
    width: 20%;
    left: -3%;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper1 nav #inbox:checked ~ .tab{
    left: 29%;
  }
  .wrapper1 nav #contact:checked ~ .tab{
    left: 40%;
  }
  
  .wrapper1 nav #about:checked ~ .tab{
    left: 63%;
  }
  .wrapper1 nav input{
    display: none;
  }
  




.card1{
    width: 100%;
    height: 1000px;
    background: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    border-radius: 15px;
}


h2{
    font-size: 60px;
    margin-bottom: 15px;
}








.wrapper{
    position: relative;
    max-width: 1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .cart-nav{
    position: absolute;
    right: 0;
    top: -35%;
    width: 130px;
    background: #fff;
    padding: 13px 15px;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
  }
  .cart-nav .icon{
    color: #ff7979;
  }
  .cart-nav .icon i{
    font-size: 20px;
  }
  .cart-nav .icon span{
    font-weight: 500;
  }
  .cart-nav .item-count{
    font-size: 15px;
    height: 23px;
    width: 23px;
    color: #ff7979;
    background: #ffcccc;
    text-align: center;
    line-height: 22px;
    border: 1px solid #ffb3b3;
    border-radius: 50%;
  }
  .wrapper .card{
    position: relative;
    background: #fff;
    border-radius: 3px;
    width: calc(33% - 13px);
    height: 500px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
  }
  .wrapper .card img{
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
  .wrapper .card .content{
    position: absolute;
    width: 100%;
    bottom: -50%;
    background: #fff;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
  }
  .wrapper .card:hover .content{
    bottom: 0;
  }
  .card .content .row,
  .content .buttons{
    display: flex;
    justify-content: space-between;
  }
  .content .row .details span{
    font-size: 22px;
    font-weight: 500;
  }
  .content .row .details p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
  }
  .content .row .price{
    color: #ff7979;
    font-size: 25px;
    font-weight: 600;
  }
  .content .buttons{
    margin-top: 20px;
  }
  .content .buttons button{
    width: 100%;
    padding: 9px 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #ff7979;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .buttons button:first-child{
    color: #ff7979;
    margin-right: 10px;
    background: #fff;
  }
  button:first-child:hover{
    color: #fff;
    background: #ff7979;
  }
  .buttons button:last-child{
    color: #fff;
    margin-left: 10px;
    background: #ff7979;
  }
  button:last-child:hover{
    background: #ff6666;
    border-color: #ff6666;
  }