@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body{  
  background-color: rgb(228, 227, 227);
  
}


nav{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    list-style: none;

}


a{
    margin: 20px;
    outline: none;
    text-decoration: white;
    color:black;
    font-size: 25px;
}


div{
    display: flex;
    justify-content: center;
}


.card{
    width: 80%;
    height: 1000px;
    background-color: rgb(28, 179, 146);
    border-radius: 15px;
}

.contenedor{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    color: white; 
    
 
}

.titulo:hover{
    background-color: rgb(94, 199, 150);
}

.copy{
    font-weight: 300;
    font-size: 25px;
    color: white;
}


.contenedor-producto{
    width: 30%;
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.wrapper{
    position: relative;
    max-width: 1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .cart-nav{
    position: absolute;
    right: 0;
    top: -35%;
    width: 130px;
    background: #fff;
    padding: 13px 15px;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
  }
  .cart-nav .icon{
    color: #ff7979;
  }
  .cart-nav .icon i{
    font-size: 20px;
  }
  .cart-nav .icon span{
    font-weight: 500;
  }
  .cart-nav .item-count{
    font-size: 15px;
    height: 23px;
    width: 23px;
    color: #ff7979;
    background: #ffcccc;
    text-align: center;
    line-height: 22px;
    border: 1px solid #ffb3b3;
    border-radius: 50%;
  }
  .wrapper .card{
    position: relative;
    background: #fff;
    border-radius: 3px;
    width: calc(33% - 13px);
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
  }
  .wrapper .card img{
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
  .wrapper .card .content{
    position: absolute;
    width: 100%;
    bottom: -50%;
    background: #fff;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
  }
  .wrapper .card:hover .content{
    bottom: 0;
  }
  .card .content .row,
  .content .buttons{
    display: flex;
    justify-content: space-between;
  }
  .content .row .details span{
    font-size: 22px;
    font-weight: 500;
  }
  .content .row .details p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
  }
  .content .row .price{
    color: #ff7979;
    font-size: 25px;
    font-weight: 600;
  }
  .content .buttons{
    margin-top: 20px;
  }
  .content .buttons button{
    width: 100%;
    padding: 9px 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #ff7979;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .buttons button:first-child{
    color: #ff7979;
    margin-right: 10px;
    background: #fff;
  }
  button:first-child:hover{
    color: #fff;
    background: #ff7979;
  }
  .buttons button:last-child{
    color: #fff;
    margin-left: 10px;
    background: #ff7979;
  }
  button:last-child:hover{
    background: #ff6666;
    border-color: #ff6666;
  }
  