

{% load static %}



{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="h.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

    <div class="cont">
    <div class="nav">
        <nav>
          <input type="radio" name="tab" id="home" checked>
          <input type="radio" name="tab" id="inbox">
          <input type="radio" name="tab" id="contact">
          <input type="radio" name="tab" id="heart">
          <input type="radio" name="tab" id="about">
          <label for="home" class="home"><a href="#"><i class="fas fa-home"></i>Inicio</a></label>
          <label for="inbox" class="inbox"><a href="#"><i class="far fa-comment"></i>Tienda</a></label>
          <label for="about" class="about"><a href="#"><i class="far fa-cart"></i>Carrito</a></label>

          <div class="tab">

  </div>
     

  </nav>
      </div>
    </div>
   
    <div class="contenedor">
    <div class="homes"> 
        <div class="Encabezado">
            <h2>Chuy in Borderland</h2>

        </div>





        <div class="titulo1">
          <h2>Encuentra los videojuegos para ese gran momento donde todo puede ser realidad</h2>

      </div>



        <div class="buscador">
        <div class="search-box">
            <input type="text" placeholder="Type to search..">
            <div class="search-icon">
              <img src="{% static 'search.png' %}" alt="My image">
            </div>
      <div class="cancel-icon">
              <i class="fas fa-times"></i>
            </div>
      <div class="search-data">
      </div>
      </div>
    </div>
    



<div class="lo">
        <div class="wrapper">
          <div class="carousel owl-carousel">
            {% for product in products %}
          <div class="card">
            <img src="{{ product.image.url }}" alt="">
            <div class="content">
              <div class="row">
                <div class="details">
                  <span>{{product.title}}</span>
                  
                </div>
                <div class="price">${{product.price}}</div>
              </div>
              <div class="buttons">
                <button>Compra Ahora</button>
                <button class="cart-btn">Agregar al Carrito</button>
              </div>
            </div>
          </div>
          {% endfor %}

        
         
          


          <!-- <script src="script.js"></script> -->
          
        


    </div>
  </div>
  </div>
</div>





    




  <script>
    $(".carousel").owlCarousel({
      
      loop: true,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsive: {
        0:{
          items:1,
          nav: false
        },
        600:{
          items:2,
          nav: false
        },
        1000:{
          items:3,
          nav: false
        }
      }
    });
  </script>

 
{% endblock %}